@import "tailwindcss";

@theme {
  --breakpoint-tablet:800px;
  --breakpoint-mobile:500px;
}




body{
  margin: 0;
  background-color: #F2F7F8;
  font-family: "Montserrat", sans-serif;
}
button{
  font-family: "Montserrat", sans-serif;
}

